h1 {
	font-size: 30px;
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.title {

	background-color: #EAF0F6;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.flexbox-container2 {
	display: grid;
	padding: 2px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	border: 1px solid black;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EAF0F6;
}

li {
  text-align:center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-transform: 20px;
}


.bg {

}


h2 {
	font-family: 'Roboto', sans-serif;
}

.artigos-container {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 auto;

}

.artigos {
	width: 300px;
	height: 300px;
	margin: 10px;
	border: 3px solid black;
	background-color: #EAF0F6;


}

.artigos:hover{
	transform: scale(1.08);
	-webkit-transition: transform 0.35s ease-in-out;
}


img {
				
				width: 100%;
				height: 100%;
				

			}

.centered {
  padding: 125px;
  font-size: 1.4em;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
     }
.truck {
	position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-facebook {
	font-size: 30px;
	color: blue;
	padding-left: 10px;
}

.fa-truck {
	font-size: 25px;
	color: #CD5F00;
	padding-left: 10px;
}

.fa-shop {
	font-size: 25px;
	color: #CD5F00;
	padding-left: 10px;
}

.fa-square-phone {
	font-size: 30px;
	color: green;
	padding-left: 10px;
}

.Main-Title{
	font-size: 2em;
}

.title2 {
	background-color: #EAF0F6;
	padding: 20px;

}

.title3 {
	background-color: #EAF0F6;
	padding: 20px;

}

.moveisbg {
	width: 60%;
	height: 50%;
}

.facebook{
	padding-top: 10px;
}

.entregas {
	padding-top: 12px;
}

.loja {
	padding-top: 10px;
}

.contactos {
	padding-top: 10px;
}

iframe{
	position: absolute;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}